#app-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #1e2130;
  color: #f3f5f4;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  max-width: 100% !important;
  overflow-x: hidden;
  margin: 0;
}

#big-app-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
}

.banner {
  padding: 20px;
  padding-left: 100px;
  /* text-align: center; */
  background: #1e2130;
  color: white;
  font-size: 24px;
  border-bottom: 2px solid #4b5460;
}

/* Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#app-container {
  position: relative;
  /* background: #161a28; */
  margin: 1rem 2rem;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#app-content {
  background-color: #1e2130;
  /* padding: 1.2rem; */
  width: 100%;
  max-width: 100%;
}

/*
##Device = Most of the Smartphones Mobiles / ipad (Portrait)
*/
@media only screen and (max-width: 950px) {
  body {
    font-size: 1.1rem;
  }

  #big-app-container {
    padding: 1rem;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 1rem 0.5rem;
  }

  #banner-text {
    text-align: center;
  }

  .banner h5 {
    font-size: 1.4rem;
  }

  .banner h6 {
    font-size: 1.3rem;
  }

  #banner-logo button {
    display: none;
  }

  .banner img {
    height: 6rem;
    margin: 1rem;
  }

  #app-container {
    height: auto;
  }
}

.firstRow {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px !important;
}

.row .col.offset-s6 {
  margin-left: 0;
  width: 49.6% !important;
}

.row .col.s6 {
  width: 49.6% !important;
  margin-left: 0 !important;
}

@media only screen and (min-width: 993px) {
  .row .col.l6 {
    width: 49.6% !important;
    margin-left: 0;
  }
}

@media only screen and (min-width: 601px) {
  .row .col.m6 {
    width: 49.6% !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 993px) {
  .row .col.m6 {
    margin-top: 3px !important;
    width: 49.6% !important;
    margin-left: 0;
  }
  .lastDiv {
    margin-top: 3px !important;
    /* width: 49.6% !important;
    margin-left: 0; */
  }
  body {
    font-size: 0.9rem;
  }
}

/* Header Text Formats */

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 2.6rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  color: white;
}

/* Banner */

#banner-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}

.banner img {
  /*height: 9rem;*/
  margin: 0px 10px;
}

.row .col {
  /* float: none !important; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 !important;
}

.metric-select-title {
  border-bottom: 2px solid #4b5460;
  margin: 5px;
}

.section-banner {
  /* margin-top: -20px; */
  padding: 10px;
}

#canvastest {
  background-color: white;
  width: 150px;
  height: 150px;
  /* border: 1px solid black; */
  padding: 0px;
  position: static; /* fixed or static */
  top: 100px;
  left: 100px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px !important;
}

.borderTest {
  /* border: 1px solid red; */
  background-color: #161a28;
}

.carousel .carousel-item {
  width: 100% !important;
}
